<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Users</title>
    </head>

    <body>
        <h1>Create User</h1>
        <ul>
            <form> 
                Frist name:  <br> 
                <input type="text" name="firstname"> <br>
                Last name:  <br>
                <input type="text" name="lastname"> <br>
                Email Address:  <br>
                <input type="text" name="emailaddress"> <br>
                Age:  <br>
                <input type="text" name="age">
            </form>
        </ul>
        <button>Show All Users</button>
    </body>
</html>

